<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<session-factory>
	<!-- 配置数据库连接URL -->
	<property name="hibernate.connection.url">
		jdbc:mysql://localhost:3306/eluvial
	</property>
	<!-- 配置驱动 -->
	<property name="hibernate.connection.driver_class">
		com.mysql.jdbc.Driver
	</property>
	<!-- 用户名 -->
	<property name="hibernate.connection.username">root</property>
	<!-- 密码 -->
	<property name="hibernate.connection.password">19951204</property>
	<!-- 指定hibernate方言 -->
	<property name="dialect">
		org.hibernate.dialect.MySQLDialect
	</property>
	<!-- 显示数据库语句 -->
	<property name="hibernate.show_sql">true</property>
	<!-- 格式化语句 -->
	<property name="hibernate.format_sql">true</property>
	<!-- 指定ddl的生成方式 -->
	<property name="hibernate.hbm2ddl.auto">update</property>
    <!-- 配置关系映射文件 -->
	<mapping resource="com/eluvial/bean/User.hbm.xml"/>
	<mapping resource="com/eluvial/bean/Parking.hbm.xml"/>
	<mapping resource="com/eluvial/bean/Orderpark.hbm.xml"/>
	<mapping resource="com/eluvial/bean/Emergency.hbm.xml"/>
	<mapping resource="com/eluvial/bean/FS.hbm.xml"/>
	<mapping resource="com/eluvial/bean/FSOrder.hbm.xml"/>
</session-factory>
</hibernate-configuration>